/* Color Key
Ocean Blue: rgb(51, 153, 255)
Player Red: rgb(204, 0, 0)
Player Blue: 
Player Green:
Player Yellow:
Player Black:
Greenery: 
Default Misc: 
*/

@font-face {
  font-family: 'Prototype';
  src: url('fonts/Prototype.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Prototype.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Prototype.ttf')  format('truetype') /* Safari, Android, iOS */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Prototype';
    color: white;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 25%,rgba(56,56,56,1) 100%);

}
.board {
    display: flex;
    flex-wrap: wrap;
}

.temperature {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15%;
    width: 20%;
    background: pink;
}

.temperature .guage {
    position: absolute;
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    z-index: 15;
}

.temperature .guage .container {
    position: absolute;
    z-index: 13;
    width: 100%;
    height: 100%;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    background: red;
}
/*
increment/decrement in 100% units
*/
.temperature .guage ul {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    top: 0;

    width: 100%;
    height: 0;
    padding-top: 100%;

    transition-property: top;
}

    .temperature .guage ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 50% 0;
        font-size: 3vw;
        list-style: none;
    }

.temperature .decrement {
    position: absolute;
    right: 72%;
    width: 25%;
    height: 0;
    padding-bottom: 25%;
}

.temperature .decrement .container {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(100% 0%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    clip-path: polygon(100% 0%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background: blue;
}

.temperature .decrement button {
    position: absolute;
    z-index: 11;
    right: 0;
    width: 100%;
    height: 100%;
    background: lime;
    border: 0;
}

.temperature .decrement button strong {
    display: block;
    width: 48%;
    height: 48%;
    margin: 25% 0 25% 30%;

    -webkit-clip-path: polygon(5% 35%, 5% 65%, 96% 65%, 96% 35%);
    clip-path: polygon(5% 35%, 5% 65%, 96% 65%, 96% 35%);

    background: black;
}

.temperature .increment {
    position: absolute;
    left: 72%;
    width: 25%;
    height: 0;
    padding-bottom: 25%;
    z-index: 11;
}

.temperature .increment .container {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 0%);
    background: green;

    transition-duration: 0.3s;
    transition-property: width, clip-path;
}

.temperature .increment.expanded .container {
    width: 300%;
    -webkit-clip-path: polygon(92% 0%, 100% 50%, 92% 100%, 0% 100%, 0% 0%);
    clip-path: polygon(92% 0%, 100% 50%, 92% 100%, 0% 100%, 0% 0%);
}

.temperature .increment button {
    position: absolute;
    width: 25%;
    height: 100%;
    border: 0;
}

.temperature .increment button.red {
    left: 0;
    background: rgba(204, 0, 0, 1);
}

.temperature .increment button.green {
    left: 15%;
    background: green;
}

.temperature .increment button.blue {
    left: 28%;
    background: rgba(51, 153, 255, 1);
}

.temperature .increment button.yellow {
    left: 41%;
    background: yellow;
}

.temperature .increment button.black {
    left: 54%;
    background: #333333;
}

.temperature .increment .close {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    background: lime;
    border: 0;

    transition-duration: 0.3s;
    transition-property: width;
}

.temperature .increment.expanded .close {
    width: 33%;
}

.temperature .increment .close strong {
    display: block;
    width: 48%;
    height: 48%;
    margin: 25% 0 25% 26%;
    transform: rotate(45deg);
    -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    background: black;

    transition-duration: 0.3s;
    transition-property: transform;
}

.temperature .increment.expanded .close strong {
    transform: rotate(0deg);
}

.oxygen {
    display: none;
    position: relative;
    width: 10%;
    background: green;
}

.map {
    margin-left: 20%;
    width: 80%;
    height: 100%;
    overflow: scroll;
}

.map .container {
    position: relative;
    width: 200%;
    height: 82%;
}

.map .row {
    margin-bottom: -2.5%;
    display: flex;
    justify-content: center;
}
.map .row:first-child {
}

.tile {
    position: relative;
    margin: .4%;
    width: 9%;
    height: 0;
    padding-bottom: 10%;

    text-align: center;
}

.hexagon {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    opacity: 0.45;
    background: radial-gradient(ellipse at center, rgba(102, 77, 0, 0.45) 0%,rgba(102, 77, 0, 0.65) 25%,rgba(179,134,0,0.85) 100%);

    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform, opacity;
}

    .hexagon:hover,
    .hexagon:focus,
    .hexagon:active {
        transform: scale(1.1);
        opacity: 1;
        background-image: radial-gradient(ellipse at center, rgba(102, 77, 0, 0.45) 0%,rgba(102, 77, 0, 0.65) 25%,rgba(179,134,0,0.85) 100%);
    }

.ocean .hexagon {
    background-image: radial-gradient(ellipse at center, rgba(102, 153, 255, 0.45) 0%,rgba(102, 153, 255, 0.65) 25%,rgba(102, 102, 255,0.85) 100%);
}

.ganymede {
    top: 1%;
    left: 1%;
    position: absolute;
}

.phobos {
    top: 28%;
    left: 1%;
    position: absolute;
}

.resource {
    display: none;
    position: absolute;
    left: 0;
    top: 0;

    width: 10%;
    height: 10%;
    background: red;

    z-index: 5;
}